[alias]
  co = checkout
  st = status
  ci = commit
  lg = log --oneline --decorate --graph --abbrev-commit
  br = branch
  cm = checkout master
  cia = commit --amend --no-edit
  rc = rebase --continue
  rs = rebase --skip
  reset-author = commit --amend --no-edit --reset-author
  fetch-rebase = "!f(){ git fetch origin && git rebase origin/master; };f"
  unstage = reset --soft HEAD^
  brd = !git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d
  lcs = rev-parse --short HEAD

[color]
  diff = auto
  grep = auto
  interactive = auto
  status = auto
  branch = auto
  status = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore

[fetch]
  prune = true

[merge]
  ff = false

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = current

[rebase]
  autosquash = true

[github]
  user = davidbrusius

[gpg]
  program = gpg2

[commit]
  gpgsign = false

[user]
  signingkey = 35D59A85F911BC55

[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/doximity/"]
  path = ~/.gitconfig.work
